@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
/*nav*/
nav {
    height: 70px;
    display: flex;
}
h1{
    font-size: 48px;

}
h2{
    font-size: 32px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

}
.nav__links{
    display: flex;
    align-items: center;

}
.nav__link{
    margin-left: 10px;
    text-decoration: none;
    color: #7342d6;
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link--primary{
    border: #7342d6 2px solid;
    border-radius: 4px;
}
.nav__link--primary:hover{
    text-decoration: none;
}
/*landing-page*/
#landing{
background-color: rgba(115, 66, 214,0.1);
}

.header__container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header__container{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
}
h1{
    font-size: 56px;
    margin-bottom: 16px;
}
.text--purple{
    color: #7342d6;
}
.header__button{
    background-color: #7342d6;
    color: #fff;
    padding:  8px 12px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
h1,h2{
    text-align: center;
}
h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.header__description{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 50vh;
    margin: 0 auto;
}
header{
height: 100vh;
}


